@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-family: "Cascadia Code PL", Arial;
  font-size: 2.5rem;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: rgb(124 83 220);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 500px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

h2 {
  margin: 32px 0;
}

button {
  padding: 10px 20px;
  border-radius: 3px;
  border-width: 0;
  background-color: rgb(109 94 241);
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 16px;
}

button:active {
  transform: translateY(-3px);
}

button:hover {
  box-shadow: 0 0 0 3px rgb(255 255 255 / 87%);
}

div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

div input {
  padding: 5px;
  font-size: 20px;
  outline: 0;
  border-width: 0;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
}

div input:hover {
  box-shadow: 0 0 0 3px rgb(255 255 255 / 47%);
}

#changeColor {
  position: absolute;
  bottom: 20px;
  left: 20px;

  padding: 10px 20px;
  border-radius: 3px;
  border-width: 0;
  background-color: rgb(109 94 241);
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 16px;
}

@media (width < 600px) {
  body {
    font-size: 1rem;
  }
}
